@import "variables";
@import "reset";
@import "form-reset";
@import "form";

a, label, p, span {
  color: #333333;
  font-family: 'Merriweather', serif;
}

h1, h2, h3, h4, h5, h6, th, .heading {
  color: #333333;
  font-family: 'Raleway', sans-serif;
}

body {
  color: red;
  line-height: 1;
  font-size: $font-size;
  font-weight: 200;

  ::selection {
    background: #FFEB3B;
  }
}

a {
  color: #333333;
  text-decoration: none;
}

.table {
  margin-bottom: 1em;
  table-layout: fixed;
  width: 100%;
  word-break: break-word;

  th {
    font-weight: 600;
    line-height: 2em;
    text-align: left;
  }
}

/* Header */
#header {
  padding: 1em;

  a {
    font-weight: 400;
    line-height: 2em;
    text-transform: uppercase;
  }
}

/* Main */
.container {
  margin: 0 auto;
  max-width: 1000px;
}
