<h2>Show Ticket</h2>

<ul>

  <li>
    <span>Title:</span>
    <span><%= @ticket.title %></span>
  </li>

  <li>
    <span>Body:</span>
    <span><%= @ticket.body %></span>
  </li>

  <li>
    <span>Priority:</span>
    <span><%= @ticket.priority %></span>
  </li>

</ul>

<span><%= link "Edit", to: ticket_path(@conn, :edit, @ticket) %></span>
<span><%= link "Back", to: ticket_path(@conn, :index) %></span>
