<h2>Show User</h2>

<ul>

  <li>
    <span>Name:</span>
    <span><%= @user.username %></span>
  </li>

  <li>
    <span>Email:</span>
    <span><%= @user.email %></span>
  </li>

</ul>

<span><%= link "Edit", to: user_path(@conn, :edit, @user) %></span>
<span><%= link "Back", to: user_path(@conn, :index) %></span>
