<header role="header">
  <%= link("Start", to: "/") %>

    <%= link("Tickets", to: "/tickets") %>
    <%= link("Users", to: "/users") %>
    Hello <%= link "Logout", to: session_path(@conn, :delete), method: :delete %>

    <%= link("Login", to: "/login") %>

</header>
