<header role="header" id="header">
  <%= link("Start", to: "/", class: "heading") %>
  <%= if logged_in?(@conn) do %>
    <%= link("Tickets", to: "/tickets", class: "heading") %>
    <%= link("Users", to: "/users", class: "heading") %>
    <%= link("Logout", to: session_path(@conn, :delete), method: :delete, class: "heading") %>
  <% else %>
    <%= link("Login", to: "/login", class: "heading") %>
  <% end %>
</header>
